</html>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
    
        <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <title>404 Not Found</title>
    </head>

    <body>
        <div class="wrapper clearfix">
            <h1>Page Not Found!</h1>
        </div>
    </body>
</html>